  <div class= 'card' style="height:auto; font-size: 19px;">
    <div class ='card-header bg-light' ><h2>{{id}}</h2></div>
    <div class='card-body'>
      <li *ngFor="let curso of unCurso">

          <span>ID: {{curso.id}} </span>
  
          <span>Laboratorio: {{curso.laboratorio}}</span>
          <span>Fecha de Inicio: {{curso.fechaInicio | date : 'dd/mm/yy'}} </span>
          <span>Fecha de finalizacion: {{curso.fechaFin | date : 'dd/mm/yy' }}</span>
     
          
      </li>
      </div>
</div>
  